body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    margin: 15px 0;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}
